################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.lctc

bin/
obj/
TestResults/
artifacts/
